
    body{
        margin: 0px;
        padding: 0px;
        font-family: sans-serif;
    }
    .main-header{
        width: 100%;
        height: 3.5rem;
        background-color: rgb(255, 99, 99);
        padding: 0 1.5rem;
    }
    .main-header-item-list{
        list-style: none;
        padding: 0px;
        margin: 0px;
        display: flex;
    }

    .main-header-item{
        margin: 0px 1rem;
        padding: 0px;
    }
    .main-header-item a {
        text-decoration: none;
        color: white;
    }

    .main-header__item a {
        color:white;
        text-decoration: none;
    }

    .main-header-nav{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main-header-item a:hover,
    .main-header-item a:active,
    .main-header-item a.active {
        color:rgb(255, 217, 0);
    }

    .main{
        padding: 1rem;
    }

    .form_control label,
    .form_control input{
        display: block;
        width: 100%;
    }

    .form_control input{
        border: 1px solid black;
        font: inherit;
        border-radius: 2px;
    }

    button{
        font: inherit;
        border: 1px solid black;
        color: white;
        background: rgb(255, 99, 99);
        border-radius: 3px;
        cursor: pointer; 
    }

    button:hover,
    button:active{
        color: white;
        background-color: black;
    }

    .form_control{
        margin: 1rem 0;
    }
.product_form{
width: 20rem;
max-width: 90%;
margin: auto;
}
    

.user_message{
margin: auto;
width: 100%;
border: 1px solid rgb(199, 225, 255);
padding: 0.5rem;
border-radius: 3px;
background-color: rgb(224, 224, 245);
text-align: center;
}


.user_mesage_error{
border-color: red;
background: rgb(255, 176, 176);
color: red;
}